/* Reset some default styles and set the font family */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caprasimo", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "REM", sans-serif;
}

/* Set background color for the entire page */
body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Style the header navigation bar */
header {
  background-color: #333;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

header .navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

header .navbar a:hover {
  color: #ffcc00;
}

/* Style the main content */
main {
  text-align: center;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 50px;
  width: 30rem;
  height: auto;
  padding: 20px;
  background-color: #212529;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #f0f0f0;
  font-size: 2rem; /* Change the font size here */
}

/* Styles for the .mainBox container */
.box {
  width: 30rem;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 405px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

.line-through {
  text-decoration: line-through;
}

input[type="text"] {
  flex: 1; /* Let the input field take the remaining available width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

hr {
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 1px solid #ccc;
}

.checked label {
  text-decoration: line-through;
}
/* Style the footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  flex-shrink: 0;
  margin-top: auto;
}

/* Additional styling for the "+" button */
form.item {
  display: flex;
  justify-content: center;
}

form.item input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form.item button[type="submit"] {
  padding: 5px 10px;
  background-color: #ffcc00;
  color: #333;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

form.item button[type="submit"]:hover {
  background-color: #ffc000;
}
